<div id="content" class="content">
	<h2 id="patName"></h2>
	<h3 id="patID"></h3>
	<div>
		<table id="medList">
			<tr>
				<!-- <th>Patient ID</th> -->
				<th>Medication</th>
				<th>Dosage</th>
				<th>Delivery</th>
				<th>Filled?</th>
				<th>Expiration</th>
			</tr>
			<tbody>
				{{#if results}}
                  {{#each results}}
					<tr id="patient">
                	    <!-- <td>{{this.patID}}</td> -->
                	    <td>{{this.dose}}</td>
                	    <td>{{this.medication}}</td>
						<td>{{this.time}}</td>
						<td>
							{{#if this.fill}}
								<img class="tblIcons" src="chkIcon.png">
							{{/if}}
						</td>
                	    <td>{{this.date}}</td>
					</tr>
					{{/each}}
              	{{/if}}
			</tbody>
		</table>
	</div>
</div>
<div>
	<h3>
		<a href="/records">
			<img class="tblIcons" src="/images/bkwdIcon.png">
		</a>
		Back to full patient records
	</h3>
</div>
<div>
</div>
