<div id="content" class="content">
	<h2 id="patName"></h2>
	<h3 id="patID"></h3>
	<div>
		<table id="medList">
			<tr>
				<!-- <th>Patient ID</th> -->
				<th>Medication</th>
				<th>Dosage</th>
				<th>Delivery</th>
				<th>Filled?</th>
			</tr>
			<tbody>
				{{#if results}}
                  {{#each results}}
					<tr id="patient">
                	    <!-- <td>{{this.patient_id}}</td> -->
                	    <td>{{this.name}}</td>
						<td>{{this.dose_date}}</td>
						<td>
							{{#if this.fill}}
								<img class="tblIcons" src="/images/chkIcon.png">
							{{/if}}
						</td>
						<td><input type="button" name= "delete" value="delete" onclick="location.href='patient/{{this.patient_id}}<!--/delete/{{this.id}}-->'" /></td>
					</tr>
					{{/each}}
              	{{/if}}
			</tbody>
		</table>
	</div>
</div>

<div>
	<h3>Add Medication Alert</h3>
        <form id="addMed" action="/patients/{{this.patient_id}}/add" method="POST">
          <div>
            <label for="medication">Medication Name</label>
            <input id="name" name="name" type="text">
            <label for="time">Delivery Time</label>
            <input id="doseDate" name="doseDate" type="text">
            <td><input type="submit" formmethod="post" value="Add Med!" /></td>
          </div>

        </form>
</div>

<div>
	<h3>
		<a href="/records">
			<img class="tblIcons" src="/images/bkwdIcon.png">
		</a>
		Back to full patient records
	</h3>
</div>
